<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysLogMapper">

	<!-- 清空所有日志记录 -->
	<delete id="removeAll">
		DELETE FROM sys_log
	</delete>
	
	<!-- 获取访问总数 -->
	<select id="findTotalVisitCount" resultType="long">
        select count(1) from sys_log where log_type = 1
    </select>

	<!-- 获取今日访问总数 -->
    <select id="findTodayVisitCount" resultType="long">
        select count(1) from sys_log where log_type = 1 and create_time &gt;= #{dayStart} and create_time &lt; #{dayEnd}
    </select>
    
	<!-- 获取今日访问总IP数 -->
    <select id="findTodayIp" resultType="long">
        select count(distinct(ip)) from sys_log where log_type = 1 and create_time &gt;= #{dayStart} and create_time &lt; #{dayEnd}
    </select>
    
   	<!-- 首页访问统计 -->
    <select id="findVisitCount" resultType="java.util.HashMap">
       <if test="dbType == 'MYSQL'">
         select count(*) as visit
        	   ,count(distinct(ip)) as ip
        	   ,DATE_FORMAT(create_time, '%Y-%m-%d') as tian
        	   ,DATE_FORMAT(create_time, '%m-%d') as type
        	   from sys_log 
         where log_type = 1 and create_time &gt;= #{dayStart} and create_time &lt; #{dayEnd}
         group by tian,type
         order by tian asc
       </if>
       <if test="dbType == 'ORACLE'">
        select count(*) as visit
        	   ,count(distinct(ip)) as ip
        	  ,to_char(create_time, 'yyyy-mm-dd') as tian
        	   ,to_char(create_time, 'mm-dd') as type
         from sys_log 
         where log_type = 1 and create_time &gt;= #{dayStart} and create_time &lt; #{dayEnd}
         group by to_char(create_time, 'yyyy-mm-dd'),to_char(create_time, 'mm-dd') 
         order by to_char(create_time, 'yyyy-mm-dd') asc
       </if>
      <if test="dbType == 'POSTGRESQL'">
       select count(*) as visit
        	   ,count(distinct(ip)) as ip
        	  ,to_char(create_time, 'yyyy-mm-dd') as tian
        	   ,to_char(create_time, 'mm-dd') as type
         from sys_log 
         where log_type = 1 and create_time &gt;= #{dayStart} and create_time &lt; #{dayEnd}
         group by tian,type 
         order by tian asc 	   
     </if>
     <if test="dbType == 'SQLSERVER'">
        select count(*) as visit
        	   ,count(distinct(ip)) as ip
             ,CONVERT(varchar(100), create_time, 23) as tian
        	   ,RIGHT(CONVERT(varchar(100), create_time, 23),5) as type
         from sys_log 
         where log_type = 1 and create_time &gt;= #{dayStart} and create_time &lt; #{dayEnd} 
         group by CONVERT(varchar(100), create_time, 23),RIGHT(CONVERT(varchar(100), create_time, 23),5)  
         order by CONVERT(varchar(100), create_time, 23) asc	  
     </if>
    </select>

    <!-- 首页访问统计 -->
    <select id="findVisitTopSixCount" resultType="java.util.HashMap">
        <if test="dbType == 'SQLSERVER'">
            select top 6 userid,count(*) as visit
            from sys_log
            where log_type = 1 and create_time &gt;= #{dayStart} and create_time &lt; #{dayEnd} and userid is not null
            group by userid
            order by visit desc
        </if>
    </select>

    <!-- 首页访问统计 -->
    <select id="findVisitPmpCount" resultType="java.util.HashMap">
        <if test="dbType == 'SQLSERVER'">
            select
            '项目完成率' as name,
            Convert(decimal(18,2),(isnull(t1.completeProAllNum,0)/cast((isnull(nullif (t4.proAllNum,0),-1)) as float) )*100) as completiondegree,
            Convert(decimal(18,2),(isnull(t2.completeProAllNum,0)/cast((isnull(nullif (t5.proAllNum,0),-1)) as float) )*100) as monthcompletiondegree,
            Convert(decimal(18,2),(isnull(t3.completeProAllNum,0)/cast((isnull(nullif (t6.proAllNum,0),-1)) as float) )*100) as weekcompletiondegree
            from
            (select count(*) as completeProAllNum from [pmp_project] where [parentnode] = '0' and isdelete = 0 and status in ('1','2')) as t1
            left join
            (select count(*) as proAllNum from pmp_project where [parentnode] = '0' and isdelete = 0 and status in ('1','2','3','4')) as t4
            on 1=1
            left join
            (select count(*) as completeProAllNum from pmp_project where [parentnode] = '0' and isdelete = 0 and status in ('1','2') and create_time &gt;= #{monthStart} and create_time &lt; #{monthEnd}) as t2
            on 1=1
            left join
            (select count(*) as proAllNum from [pmp_project] where parentnode = '0' and isdelete = 0 and status in ('1','2','3','4') and create_time &gt;= #{monthStart} and create_time &lt; #{monthEnd}) as t5
            on 1=1
            left join
            (select count(*) as completeProAllNum from pmp_project where [parentnode] = '0' and isdelete = 0 and status in ('1','2') and create_time &gt;= #{weekStart} and create_time &lt; #{weekEnd}) as t3
            on 1=1
            left join
            (select count(*) as proAllNum from pmp_project where [parentnode] = '0' and isdelete = 0 and status in ('1','2','3','4') and create_time &gt;= #{weekStart} and create_time &lt; #{weekEnd}) as t6
            on 1=1

            union

            select
            '项目延误率' as name,
            Convert(decimal(18,2),(isnull(t1.delayProAllNum,0)/cast((isnull(nullif (t4.proAllNum,0),-1)) as float) )*100) as completiondegree,
            Convert(decimal(18,2),(isnull(t2.delayProAllNum,0)/cast((isnull(nullif (t5.proAllNum,0),-1)) as float) )*100) as monthcompletiondegree,
            Convert(decimal(18,2),(isnull(t3.delayProAllNum,0)/cast((isnull(nullif (t6.proAllNum,0),-1)) as float) )*100) as weekcompletiondegree
            from
            (select count(*) as delayProAllNum from pmp_project where [parentnode] = '0' and isdelete = 0 and status in ('2','4')) as t1
            left join
            (select count(*) as proAllNum from pmp_project where [parentnode] = '0' and isdelete = 0 and status in ('1','2','3','4')) as t4
            on 1=1
            left join
            (select count(*) as delayProAllNum from pmp_project where [parentnode] = '0' and isdelete = 0 and status in ('2','4') and create_time &gt;= #{monthStart} and create_time &lt; #{monthEnd}) as t2
            on 1=1
            left join
            (select count(*) as proAllNum from pmp_project where [parentnode] = '0' and isdelete = 0 and status in ('1','2','3','4') and create_time &gt;= #{monthStart} and create_time &lt; #{monthEnd}) as t5
            on 1=1
            left join
            (select count(*) as delayProAllNum from pmp_project where [parentnode] = '0' and isdelete = 0 and status in ('2','4') and create_time &gt;= #{weekStart} and create_time &lt; #{weekEnd}) as t3
            on 1=1
            left join
            (select count(*) as proAllNum from pmp_project where [parentnode] = '0' and isdelete = 0 and status in ('1','2','3','4') and create_time &gt;= #{weekStart} and create_time &lt; #{weekEnd}) as t6
            on 1=1

            union

            select
            '任务完成率' as name,
            Convert(decimal(18,2),(isnull(t1.completeTaskAllNum,0)/cast((isnull(nullif (t4.taskAllNum,0),-1)) as float) )*100) as completiondegree,
            Convert(decimal(18,2),(isnull(t2.completeTaskAllNum,0)/cast((isnull(nullif (t5.taskAllNum,0),-1)) as float) )*100) as monthcompletiondegree,
            Convert(decimal(18,2),(isnull(t3.completeTaskAllNum,0)/cast((isnull(nullif (t6.taskAllNum,0),-1)) as float) )*100) as weekcompletiondegree
            from
            (select count(*) as completeTaskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('1','2')) as t1
            left join
            (select count(*) as taskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('1','2','3','4')) as t4
            on 1=1
            left join
            (select count(*) as completeTaskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('1','2') and create_time &gt;= #{monthStart} and create_time &lt; #{monthEnd}) as t2
            on 1=1
            left join
            (select count(*) as taskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('1','2','3','4') and create_time &gt;= #{monthStart} and create_time &lt; #{monthEnd}) as t5
            on 1=1
            left join
            (select count(*) as completeTaskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('1','2') and create_time &gt;= #{weekStart} and create_time &lt; #{weekEnd}) as t3
            on 1=1
            left join
            (select count(*) as taskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('1','2','3','4') and create_time &gt;= #{weekStart} and create_time &lt; #{weekEnd}) as t6
            on 1=1

            union

            select
            '任务延误率' as name,
            Convert(decimal(18,2),(isnull(t1.completeTaskAllNum,0)/cast((isnull(nullif (t4.taskAllNum,0),-1)) as float) )*100) as completiondegree,
            Convert(decimal(18,2),(isnull(t2.completeTaskAllNum,0)/cast((isnull(nullif (t5.taskAllNum,0),-1)) as float) )*100) as monthcompletiondegree,
            Convert(decimal(18,2),(isnull(t3.completeTaskAllNum,0)/cast((isnull(nullif (t6.taskAllNum,0),-1)) as float) )*100) as weekcompletiondegree
            from
            (select count(*) as completeTaskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('2','4')) as t1
            left join
            (select count(*) as taskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('1','2','3','4')) as t4
            on 1=1
            left join
            (select count(*) as completeTaskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('2','4') and create_time &gt;= #{monthStart} and create_time &lt; #{monthEnd}) as t2
            on 1=1
            left join
            (select count(*) as taskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('1','2','3','4') and create_time &gt;= #{monthStart} and create_time &lt; #{monthEnd}) as t5
            on 1=1
            left join
            (select count(*) as completeTaskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('2','4') and create_time &gt;= #{weekStart} and create_time &lt; #{weekEnd}) as t3
            on 1=1
            left join
            (select count(*) as taskAllNum from pmp_project where [parentnode] != '0' and isdelete = 0 and status in ('1','2','3','4') and create_time &gt;= #{weekStart} and create_time &lt; #{weekEnd}) as t6
            on 1=1
        </if>
    </select>
</mapper>
