<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.project.proecharts.mapper.PmpProEchartMapper">

    <!-- 项目饼图根据条件查询 -->
    <select id="getPieCountInfo" resultType="map">
        select
        count(status) as number,
        (  select item_text from [XiangMuGuanLi].[dbo].[sys_dict_item]
        where dict_id='1237560959334592513' and item_value=a.status)status
        FROM [XiangMuGuanLi].[dbo].[pmp_project]  a
        where  parentnode='0' and status is not null
        <if test="projecttype !=null and  projecttype !='' ">
            and projecttype = #{projecttype}
        </if>
        <if test="startTime !=null and  startTime !='' ">
            and CONVERT(varchar(100), enddate, 23) >=CONVERT(varchar(100), #{startTime}, 23)
        </if>
        <if test="endTime !=null and  endTime !='' ">
            and CONVERT(varchar(100), enddate, 23) &lt;= CONVERT(varchar(100), #{endTime}, 23)
        </if>
        group by status
    </select>
    <!-- 项目柱状图年统计 -->
    <select id="getYearCountInfo" resultType="map">
        select
        count(status) as number,
        (  select item_text from [XiangMuGuanLi].[dbo].[sys_dict_item]
        where dict_id='1237560959334592513' and item_value=a.status)status,
        CONVERT(varchar(4),enddate,23)+'年' as date
        FROM [XiangMuGuanLi].[dbo].[pmp_project] a
        where parentnode='0' and status is not null
        <if test="projecttype !=null and  projecttype !='' ">
            and projecttype = #{projecttype}
        </if>
        <if test="startTime !=null and  startTime !='' ">
            and CONVERT(varchar(100), enddate, 23) >=CONVERT(varchar(100), #{startTime}, 23)
        </if>
        <if test="endTime !=null and  endTime !='' ">
            and CONVERT(varchar(100), enddate, 23) &lt;= CONVERT(varchar(100), #{endTime}, 23)
        </if>
        group by status,CONVERT(varchar(4),enddate,23)
    </select>
    <!-- 项目柱状图月统计 -->
    <select id="getMonthCountInfo" resultType="map">
        select
        count(status) as number,
        (  select item_text from [XiangMuGuanLi].[dbo].[sys_dict_item]
        where dict_id='1237560959334592513' and item_value=a.status)status,
        CONVERT(varchar(7),enddate,23) as date
        FROM [XiangMuGuanLi].[dbo].[pmp_project] a
        where parentnode='0' and status is not null
        <if test="projecttype !=null and  projecttype !='' ">
            and projecttype = #{projecttype}
        </if>
        <if test="startTime !=null and  startTime !='' ">
            and CONVERT(varchar(100), enddate, 23) >=CONVERT(varchar(100), #{startTime}, 23)
        </if>
        <if test="endTime !=null and  endTime !='' ">
            and CONVERT(varchar(100), enddate, 23) &lt;= CONVERT(varchar(100), #{endTime}, 23)
        </if>
        group by status,CONVERT(varchar(7),enddate,23)
    </select>
    <!-- 项目柱状图人员统计 -->
    <select id="getPerNoCountInfo" resultType="map">
        select
        count(status) as number,
        (  select realname from [XiangMuGuanLi].[dbo].[sys_user]
        where  username=a.create_by)date,
        (  select item_text from [XiangMuGuanLi].[dbo].[sys_dict_item]
        where dict_id='1237560959334592513' and item_value=a.status)status
        FROM [XiangMuGuanLi].[dbo].[pmp_project] a
        where parentnode='0' and status is not null
        <if test="projecttype !=null and  projecttype !='' ">
            and projecttype = #{projecttype}
        </if>
        <if test="startTime !=null and  startTime !='' ">
            and CONVERT(varchar(100), enddate, 23) >=CONVERT(varchar(100), #{startTime}, 23)
        </if>
        <if test="endTime !=null and  endTime !='' ">
            and CONVERT(varchar(100), enddate, 23) &lt;= CONVERT(varchar(100), #{endTime}, 23)
        </if>
        group by status,create_by
    </select>

<!--    <select id="getPerNoCountInfo" resultType="java.util.Map" statementType="CALLABLE">-->
<!--	   {call dbo.myPerCount(-->
<!--	    #{projecttype,jdbcType=VARCHAR,mode=IN},-->
<!--	    #{startTime,jdbcType=VARCHAR,mode=IN},-->
<!--	    #{endTime,jdbcType=VARCHAR,mode=IN}-->
<!--	    )}-->
<!--	</select>-->
    <!-- 项目柱状图部门统计 -->
    <select id="getDepCountInfo" resultType="map">
        select
        count(status) as number,(  select depart_name from [XiangMuGuanLi].[dbo].[sys_depart]
        where  org_code=a.sys_org_code)date,
        (  select item_text from [XiangMuGuanLi].[dbo].[sys_dict_item]
        where dict_id='1237560959334592513' and item_value=a.status)status
        FROM [XiangMuGuanLi].[dbo].[pmp_project] a
        where parentnode='0' and status is not null
        <if test="projecttype !=null and  projecttype !='' ">
            and projecttype = #{projecttype}
        </if>
        <if test="startTime !=null and  startTime !='' ">
            and CONVERT(varchar(100), enddate, 23) >=CONVERT(varchar(100), #{startTime}, 23)
        </if>
        <if test="endTime !=null and  endTime !='' ">
            and CONVERT(varchar(100), enddate, 23) &lt;= CONVERT(varchar(100), #{endTime}, 23)
        </if>
        group by status,sys_org_code
    </select>

    <!-- 任务饼图根据条件查询 -->
    <select id="getTaskPieCountInfo" resultType="map">
        select
        count(status) as number,
        (  select item_text from [XiangMuGuanLi].[dbo].[sys_dict_item]
        where dict_id='1237560959334592513' and item_value=a.status)status
        FROM [XiangMuGuanLi].[dbo].[pmp_project]  a
        where  parentnode !='0' and status is not null
        <if test="startTime !=null and  startTime !='' ">
            and CONVERT(varchar(100), enddate, 23) >=CONVERT(varchar(100), #{startTime}, 23)
        </if>
        <if test="endTime !=null and  endTime !='' ">
            and CONVERT(varchar(100), enddate, 23) &lt;= CONVERT(varchar(100), #{endTime}, 23)
        </if>
        group by status
    </select>

    <!-- 任务柱状图统计 -->
    <select id="getTaskCountInfo" resultType="map">
        select
        count(status) as number,
        (  select item_text from [XiangMuGuanLi].[dbo].[sys_dict_item]
        where dict_id='1237560959334592513' and item_value=a.status)status,
        CONVERT(varchar(100),enddate,23)+'.' as date
        FROM [XiangMuGuanLi].[dbo].[pmp_project] a
        where parentnode !='0' and status is not null
        <if test="startTime !=null and  startTime !='' ">
            and CONVERT(varchar(100), enddate, 23) >=CONVERT(varchar(100), #{startTime}, 23)
        </if>
        <if test="endTime !=null and  endTime !='' ">
            and CONVERT(varchar(100), enddate, 23) &lt;= CONVERT(varchar(100), #{endTime}, 23)
        </if>
        group by status,CONVERT(varchar(100),enddate,23)
    </select>
</mapper>