<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.wqc.summary.mapper.PmpCommentMapper">

    <select id="queryCommentInfoByTask" resultType="org.jeecg.modules.wqc.summary.entity.PmpCommentInfo">
        select p.projectname as projectname,
        p.taskname as taskname,
        c.content as content,
        c.create_time as createTime,
        c.create_by as createBy,
        u.realname as realName
        from
        (
            select *
            from pmp_project
            where id = #{taskid}
            <if test="username!=null and username!=''">
                and create_by = #{username}
            </if>
        ) as p
        left join
        (
            select *
            from pmp_comment
        ) as c on p.id = c.taskid
        left join
        (
            select *
            from sys_user
        )as u on u.username = c.create_by
        where c.id is not null
        order by c.create_time desc
    </select>

    <select id="queryCommentInfoByProjectAndTask" resultType="org.jeecg.modules.wqc.summary.entity.PmpCommentInfo">
        select p.projectname as projectname,
            p.taskname as taskname,
            c.content as content,
            c.create_time as createTime,
            c.create_by as createBy,
            u.realname as realName
        from
        (
            select *
            from pmp_project
            where (parentnode != '0' and parentnode is not null)
        <if test="projectName!=null">
            and projectname like ('%' + #{projectName} + '%')
        </if>
        <if test="taskName!=null">
            and taskname like ('%' + #{taskName} + '%')
        </if>
        ) as p
        left join
        (
            select *
            from pmp_comment
        ) as c on p.id = c.taskid
        left join
        (
			select *
			from sys_user
        )as u on u.username = c.create_by
        where c.id is not null
        order by c.create_time desc
    </select>

    <select id="queryRealName" parameterType="String"  resultType="String">
          select realname
          from sys_user
          where username = #{username}
	</select>

</mapper>