<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.wqc.summary.mapper.PmpCommentSummaryMapper">
    <select id="queryUnionByTaskid" parameterType="String" resultType="org.jeecg.modules.wqc.summary.entity.PmpCommentSummary">
        select *
        from
        (
            (
                select task_id,
                    create_by,
                    content,
                    content_annex,
                    (case when (create_time > isnull(update_time, 0)) then create_time else update_time end) as create_time,
                    '1' as type
                from pmp_summary as s
                left join (
                    select *
                    from pmp_task_summary
                ) as ts on s.id = ts.summary_id
            )
            union
            (
                select taskid as task_id,
                    create_by,
                    content,
                    null as content_annex,
                    (case when (create_time > isnull(update_time, 0)) then create_time else update_time end) as create_time,
                    '2' as type
                from pmp_comment
            )
        ) as temp
        where task_id = #{taskid}
        order by create_time asc
    </select>
</mapper>