<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.wqc.summary.mapper.PmpSummaryMapper">

    <update id="removeById" >
        delete
        from pmp_summary
        where id = #{id}
    </update>

    <update id="removeSummaryWithTask" >
        delete
        from pmp_task_summary
        where summary_id = #{summaryid}
    </update>

    <select id="queryByName" resultType="org.jeecg.modules.wqc.summary.entity.PmpSummaryInfo">
        select s.id as id,
			p.id as taskid,
			p.taskname as taskName,
			p.projectname as projectName,
			p.principal as chiefName,
			s.create_by as createBy,
			s.create_time as createTime,
			s.summary_time as summaryTime,
			s.content as content,
			s.content_annex as contentAnnex
        from
        (
			select *
			from pmp_summary
            where create_by = #{userName}
        ) as s
        left join
        (
			select *
			from pmp_task_summary
        ) as ts on s.id = ts.summary_id
        left join
        (
			select *
			from pmp_project
        ) as p on ts.task_id = p.id
        left join
        (
			select *
			from sys_user
        ) as u on p.principal = u.username
        where ts.task_id is not null
    </select>

    <select id="querySummaryInfo" resultType="org.jeecg.modules.wqc.summary.entity.PmpSummaryInfo">
        select s.id as id,
			p.id as taskid,
			p.taskname as taskName,
			p.projectname as projectName,
			p.principal as chiefName,
			s.create_by as createBy,
			s.create_time as createTime,
			s.summary_time as summaryTime,
			s.content as content,
			s.content_annex as contentAnnex
        from
        (
			select *
			from pmp_summary
        ) as s
        left join
        (
			select *
			from pmp_task_summary
        ) as ts on s.id = ts.summary_id
        left join
        (
			select *
			from pmp_project
        ) as p on ts.task_id = p.id
        left join
        (
			select *
			from sys_user
        ) as u on p.principal = u.username
        where ts.task_id is not null
    </select>

    <select id="queryUserId" resultType="org.jeecg.modules.wqc.summary.entity.PmpSummaryInfo">
        select *
        from pmp_summary
        where create_by like '%' + isnull(@userName, '') + '%'
    </select>

    <select id="queryByNameAndDate" resultType="org.jeecg.modules.wqc.summary.entity.PmpSummaryInfo">
        select s.id as id,
			p.id as taskid,
			p.taskname as taskName,
			p.projectname as projectName,
			p.principal as chiefName,
			s.create_by as createBy,
			u.realname as realName,
			s.create_time as createTime,
			s.summary_time as summaryTime,
			s.content as content,
			s.content_annex as contentAnnex
        from
        (
			select *
			from pmp_summary
			where summary_time = #{date}
        ) as s
        left join
        (
			select *
			from pmp_task_summary
        ) as ts on s.id = ts.summary_id
        left join
        (
			select *
			from pmp_project
        ) as p on ts.task_id = p.id
        left join
        (
			select *
			from sys_user
			where username = #{userName}
        ) as u on s.create_by = u.username
        where ts.task_id is not null
    </select>

    <select id="queryStatisticsByDate" resultType="org.jeecg.modules.wqc.summary.entity.PmpSummaryResult">
        select realname,
			username,
			[01] as first, [02] as second, [03] as third,
            [04] as fourth, [05] as fifth, [06] as sixth, [07] as seventh,
            [08] as eighth, [09] as ninth, [10] as tenth, [11] as eleventh,
            [12] as twelfth, [13] as thirteenth, [14] as fourteenth, [15] as fifteenth,
            [16] as sixteenth, [17] as seventeenth, [18] as eighteenth, [19] as nineteenth,
            [20] as twentieth, [21] as twentyFirst, [22] as twentySecond, [23] as twentyThird,
            [24] as twentyFourth, [25] as twentyFifth, [26] as twentySixth, [27] as twentySeventh,
            [28] as twentyEighth, [29] as twentyNinth, [30] as twentyTenth, [31] as thirtyFirst
        from
        (
            select s.summary_time as summaryTime,
				u.username as username,
                u.realname as realname,
                right(left(s.summary_time, 10), 2) as stIndex
            from
            (
                select *
                from sys_user
            ) as u
            left join
            (
                select *
                from pmp_summary
                where left(summary_time, 7) = left(#{date}, 7)
            ) as s on u.username = s.create_by
        ) as t
        PIVOT
        (
            min(t.summaryTime) for t.stIndex in
             ([01],[02],[03],[04],[05],[06],[07],[08],[09],
             [10],[11],[12],[13],[14],[15],[16],[17],[18],[19],
             [20],[21],[22],[23],[24],[25],[26],[27],[28],[29],
             [30],[31])
        ) as pv
    </select>
</mapper>