<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.project.protree.mapper.PmpProjectMapper">

    <!-- 项目饼图根据条件查询 -->
    <select id="getCountInfo" resultType="map">
		 select
  count(status) as number,status
  FROM [XiangMuGuanLi].[dbo].[pmp_project]
  group by status
	</select>
</mapper>